<option value=""} />
<option value="lt">Less than</option>
<option value="gt">Greater than</option>
<option value="eq">Equals</option>
<option value="le">Less than or equal to</option>
<option value="ge">Greater than or equal to</option>
