<!doctype html>

<html>
<head><link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Azure AI Search Sandbox</title>
</head>
<body>
<h1>Available indexes:</h1>
{% for index in indexes %}
    <a href="/search/{{ index }}">
        <button>{{ index }}</button>
    </a>
{% endfor %}

<form method="POST" action="/search/{{ current_idx }}/{{ term }}">
    {{ form.csrf_token }}
    {{ form.search_term }}
    <input type="submit" value="Go">
</form>

<h2>You searched for {{ term }}</h2>

{% if search_results %}

    {% for res in search_results %}
<table>
    <tr>
        <th scope="col">Field</th>
        <th scope="col">Contents</th>
    </tr>
        {% for k, v in res.items() %}
    <tr>

        {% if v %}
        {% if v is string %}
        <th scope="row">{{ k }}</th><td>
        {% for p in v.split('\n') %}
        <p>{{ p }}</p>
        {% endfor %}
    </td>
        {% elif v is number %}
        <th scope="row">{{ k }}</th><td>{{ v }}</td>
        {% else %}
        <th scope="row">{{ k }}</th><td>{{ ', '.join(v) }}</td>
        {% endif %}
        {% endif %}

    </tr>
        {% endfor %}

</table>
<br />
    {% endfor %}
{% endif %}
</body>
</html>