<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='styles.css') }}">
        <title>Azure AI Search Sandbox</title>
        <link rel="icon"
              type="image/x-icon"
              href="{{ url_for('static', filename='favicon.png') }}" />
    </head>
    <body>
        <!-- BEGIN show available indexes -->
        <h1>Available indexes:</h1>
        {% for index in indexes %}
            <a href={{ url_for('search_index', index_name=index) }}>
                <button class="styled">{{ index }}</button>
            </a>
        {% endfor %}
        <!-- END show available indexes -->
        <!-- BEGIN user input -->
        {% if current_idx %}
            <form action = {{ url_for('search_index', index_name=current_idx) }} method = "post">
                <!-- BEGIN search by term -->
                <p>Enter search term:</p>
                <p>
                    <input type="text" name="term" />
                </p>
                <!-- END search by term -->
                <!-- BEGIN order by -->
                <label for="order_by">Order by:</label>
                <select id="order_by" name="order_by">
                    <option value="" />
                    {% for f in sortable_fields %}
                        <option value={{ f }}>{{ f }}
                        </option>
                    {% endfor %}
                </select>
                <!-- END order by -->
                <!-- BEGIN order direction -->
                <input type="radio" id="asc" name="order_dir" value="asc">
                <label for="asc">⬆️</label>
                <input type="radio" id="desc" name="order_dir" value="desc">
                <label for="desc">⬇️</label>
                <!-- END order direction -->
                <br />
                <!-- BEGIN filtering section -->
                <!-- BEGIN number filtering -->
                {% if numeric_filterable_fields %}
                    <!-- BEGIN filter_by -->
                    <label for="numeric_filter_by">Filter by numeric field:</label>
                    <select id="numeric_filter_by" name="numeric_filter_by">
                        <option value="" />
                        {% for f in numeric_filterable_fields %}
                            <option value={{ f }}>{{ f }}
                            </option>
                        {% endfor %}
                    </select>
                    <!-- END filter_by -->
                    <!-- BEGIN filter_exp -->
                    <select id="numeric_filter_exp" name="numeric_filter_exp">{% include 'comparison_filters.jinja2' %}</select>
                    <!-- END filter_exp -->
                    <!-- BEGIN filter_val -->
                    <input type="number" name="numeric_filter_val" />
                    <!-- END filter_val -->
                    <br />
                {% endif %}
                <!-- END number filtering -->
                <!-- BEGIN datetime filtering -->
                {% if datetime_filterable_fields %}
                    <!-- BEGIN filter_by -->
                    <label for="datetime_filter_by">Filter by date/time field:</label>
                    <select id="datetime_filter_by" name="datetime_filter_by">
                        <option value="" />
                        {% for f in datetime_filterable_fields %}
                            <option value={{ f }}>{{ f }}
                            </option>
                        {% endfor %}
                    </select>
                    <!-- END filter_by -->
                    <!-- BEGIN filter_exp -->
                    <select id="datetime_filter_exp" name="datetime_filter_exp">{% include 'comparison_filters.jinja2' %}</select>
                    <!-- END filter_exp -->
                    <!-- BEGIN filter_val -->
                    <!-- TODO: insert datetime selector -->
                    <input type="date" name="datetime_filter_val" min="1990-01-01" max="2003-12-31" />
                    <!-- END filter_val -->
                    <br />
                {% endif %}
                <!-- END datetime filtering -->
                <!-- BEGIN string filtering -->
                {% if string_filterable_fields %}
                    <!-- BEGIN filter_by -->
                    <label for="string_filter_by">Filter by text field:</label>
                    <select id="string_filter_by" name="string_filter_by">
                        <option value="" />
                        {% for f in string_filterable_fields %}
                            <option value={{ f }}>{{ f }}
                            </option>
                        {% endfor %}
                    </select>
                    <!-- END filter_by -->
                    <!-- BEGIN filter_exp -->
                    is
                    <!-- END filter_exp -->
                    <!-- BEGIN filter_val -->
                    <input type="text" name="string_filter_val" />
                    <!-- END filter_val -->
                    <br />
                {% endif %}
                <!-- END string filtering -->
                <!-- BEGIN boolean filtering -->
                {% if boolean_filterable_fields %}
                    <!-- BEGIN filter_by -->
                    <label for="boolean_filter_by">Filter by boolean field:</label>
                    <select id="boolean_filter_by" name="boolean_filter_by">
                        <option value="" />
                        {% for f in boolean_filterable_fields %}
                            <option value={{ f }}>{{ f }}
                            </option>
                        {% endfor %}
                    </select>
                    <!-- END filter_by -->
                    <!-- BEGIN filter_exp -->
                    is
                    <!-- END filter_exp -->
                    <!-- BEGIN filter_val -->
                    <select id="boolean_filter_val" name="boolean_filter_val">
                        <option value="" />
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    <!-- END filter_val -->
                    <br />
                {% endif %}
                <!-- END boolean filtering -->
                <!-- END filtering section -->
                <p>
                    <input type="submit" value="submit" />
                </p>
                <!-- END user input -->
            </form>
        {% endif %}
        {% if search_term %}<h2>Search results for "{{ search_term }}"</h2>{% endif %}
        <!-- BEGIN page selector -->
        {% if pages %}
            {% include 'page_selector.jinja2' %}
        {% endif %}
        <!-- END page selector -->
        <!-- BEGIN show count x/y of z -->
        {% if count %}
            {% if ((page - 1) * 10) + 10 > count %}
                <p>Showing results {{ ((page - 1) * 10) + 1 }} to {{ count }} of {{ count }}</p>
            {% else %}
                <p>Showing results {{ ((page - 1) * 10) + 1 }} to {{ ((page - 1) * 10) + 10 }} of {{ count }}</p>
            {% endif %}
        {% endif %}
        <!-- END show count x/y of z -->
        <!-- BEGIN results tables -->
        {% if search_results %}
            {% include 'results.jinja2' %}
        {% endif %}
        <!-- END results tables -->
        <!-- BEGIN page selector -->
        {% if pages %}
            {% include 'page_selector.jinja2' %}
        {% endif %}
        <!-- END page selector -->
        <script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
        </script>
    </body>
</html>
